{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
<div class="container">
    <a href="{% url 'portfolio:new' %}">Novo Post</a>
</div>

{% for post in posts %}
<div class="posts">
    <div>
        <h2>{{ post.titulo }}</h2>
        <h4>{{ post.descricao }}</h4>
        <p>{{ post.autor }}</p>
        <p>{{ post.data }}</p>
        <a href="{% url 'portfolio:edit' post.id %}" id="edit">
            Editar
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}