{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">

<div class="heroimg">
    <div class="container">
        <div class="typewriter">> Welcome to my portfolio!</div>
    </div>
    <br>
    <div class="container">
        <div class="typewriter1">> I'm a Computing Engineering </div>
    </div>
    <br>
    <div class="container">
        <div class="typewriter2">> student at ULHT.</div>
    </div>
</div>

<article>
    Escolhi o curso de Engenharia Informática por ter uma grande curiosidade na área da técnologia
    desde pequeno. Até agora o curso tem sido fantástico dado que dá uma perspetiva de vários ângulos
    desta enorme área de técnologia, como planeamento de projetos, programar, bases de dados,
    matemáticas aplicadas a técnologia, entre outras..
</article>

{% endblock %}