{% extends "portfolio/layout.html" %}


{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">

<form action="" method="post">
    <div class="container">
        <h1 class="title">Log In to Your Account</h1>
        <br>
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="submit" value="Login">
    </div>
</form>

{% endblock main %}