{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/noticias.css' %}">

<h1 class="title">Noticias</h1>
<hr style="border-top: 1px solid #2A2B2A">

{% for noticia in noticias %}
<div class="container">
    <img id="img" src="{{ noticia.imagem.url }}">
    <h1>{{ noticia.titulo }}</h1>
    <p>{{ noticia.descricao }}</p>
    <a href="{{ noticia.link }}">link</a>
</div>

<hr style="border-top: 1px solid #2A2B2A">
{% endfor %}
{% endblock %}