{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/website.css' %}">

<h1 id="title">Portfólio de José Sobral</h1>

<div class="tech">
    <div>
        <img src="{% static 'portfolio/images/django.png' %}">
        <p>Este website foi criado com a framework Django</p>
    </div>
    <div>
        <img src="{% static 'portfolio/images/css.png' %}">
        <p>Este website foi estilizado com CSS</p>
    </div>
    <div>
        <img src="{% static 'portfolio/images/python.png' %}">
        <p>A framework Django suporta código em Python, que foi utilizado para a realização deste Website</p>
    </div>
</div>

<h2>Para este website foi utilizada a seguinte palete de cores:</h2>

<div class="cores">
    <img src="{% static 'portfolio/images/palette.PNG' %}">
    <p>jet (#2A2B2A)</p>
    <p>black olive (#37372F)</p>
    <p>cosmic latte (#F8F4E3)</p>
    <p>melon (#FBB99D)</p>
    <p>coral (#FFA185)</p>
</div>

<h1 class="subtitle">Cliente-servidor HTTP:</h1>
<p>O servidor é um computador com conteúdos e um web server, capaz de responder a pedidos de recursos de um Web browser,
    enviando o recurso ou uma mensagem de erro específica. O cliente é um computador com um web browser capaz de pedir
    um recurso específico a um servidor Web na Internet e interpretar ficheiro HTML recebido e mostrar no ecrã como
    concebido.</p>

<h1 class="subtitle">Software MVC:</h1>
<p>O MVC é uma sigla do termo em inglês Model (modelo) View (visão) e Controller (Controle) que facilita a troca de
    informações entre a interface do usuário aos dados no banco, fazendo com que as respostas sejam mais rápidas e
    dinâmicas.</p>

<h1 class="subtitle">Comunicação assincrona AJAX:</h1>
<p>Consiste na chamada de um recurso no servidor a partir de um código Javascript no navegador web e permite fazer um
    pedido assincrono. O script que faz o pedido continua a sua execução sem esperar pela resposta. Quando o servidor
    responde, uma função trata dos dados recebidos, fazendo a atualização apenas de parte da tela.</p>
{% endblock %}